<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logica Sandbox Manager</title>
        <link href="/css/font-awesome/css/font-awesome.min.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link href="/css/rc-tree/css/index.css" rel="stylesheet" type="text/css">
        <link href="/css/iconfonts/index.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link href="/css/roboto/index.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link rel="icon" href="/favicon.ico" type="image/png"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-132671022-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="port"></div>
        <div data-app-version="<%-APP_VERSION%>" data-build-date="<%-(new Date()).toISOString()%>" id="app">
            Loading...
        </div>
        <script src="/externals/moment.min.js?_=<%-webpack.hash%>_2"></script>
        <script src="/externals/fhir-client.js?_=<%-webpack.hash%>_2"></script>
        <textarea id='copy-area' style='position: fixed; left: -1000px; top: -2000px; z-index: 100000;'>

        </textarea>
    </body>
</html>
