<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HSPC Sandbox Manager</title>
        <link href="/css/font-awesome/css/font-awesome.min.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link href="/css/iconfonts/index.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link href="/css/roboto/index.css?_=<%-webpack.hash%>" rel="stylesheet" type="text/css">
        <link rel="icon" href="/favicon.ico" type="image/png"/>
    </head>
    <body>
        <div id="port"></div>
        <div data-app-version="<%-APP_VERSION%>" data-build-date="<%-(new Date()).toISOString()%>" id="app">
            Loading...
        </div>
        <script src="/externals/moment.min.js?_=<%-webpack.hash%>"></script>
        <script src="/externals/fhir-client.min.js?_=<%-webpack.hash%>"></script>
    </body>
</html>
